# standard debris
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.gz
*.orig
*~
\#*#
tags
TAGS
!.gitignore
!.mailmap
Makefile
client/dhclient
config.log
config.status
config.report
dhcpctl/cltest
dhcpctl/omshell
includes/config.h
includes/stamp-h1
omapip/svtest
relay/dhcrelay
server/dhcpd
.deps/

# cscope files
cscope.*
ncscope.*

# debian
build-stamp
install-stamp
patch-stamp
work.linux-2.2

debian/vyatta-dhcp3-client.substvars
debian/vyatta-dhcp3-common.substvars
debian/vyatta-dhcp3-relay.substvars
debian/vyatta-dhcp3-server.substvars

doc/devel/doxyfile
