Source: vyatta-dhcp3
Section: net
Priority: important
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 5), dpkg-dev (>= 1.13.2), po-debconf
Standards-Version: 3.7.2.2

Package: vyatta-dhcp3-server
Priority: optional
Architecture: any
Depends: debianutils (>= 2.8.2),
 vyatta-dhcp3-common (= ${binary:Version}),
 vyatta-unicast | vyatta-quagga (>= 0.99.15-26),
 ${shlibs:Depends},
 ${misc:Depends}
Conflicts: dhcp, dhcp3-server
Provides: isc-dhcp-server
Description: Vyattanized DHCP server for automatic IP address assignment
 This is the server from version 3 of the Internet Software
 Consortium's implementation of DHCP. For more information, visit
 http://www.isc.org.
 .
 Dynamic Host Configuration Protocol (DHCP) is a protocol like BOOTP
 (actually dhcpd includes much of the functionality of bootpd). It
 gives client machines "leases" for IP addresses and can
 automatically set their network configuration.
 .
 This server can handle multiple ethernet interfaces.

Package: vyatta-dhcp3-common
Architecture: any
Section: net
Depends: debianutils (>= 2.8.2),
 ${shlibs:Depends},
 ${misc:Depends}
Conflicts: dhcp3-common
Provides: isc-dhcp-common
Description: Vyattanized common files used by all the vyatta-dhcp3* packages
 This package contains the files used by all the packages from the
 Vyattanized ISC DHCP version 3.

Package: vyatta-dhcp3-client
Architecture: any
Depends: debianutils (>= 2.8.2),
 vyatta-dhcp3-common (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Suggests: resolvconf, avahi-autoipd
Conflicts: dhcp-client (<< 3.0), samba-common (<< 3.0.0beta1-2), dhcp3-client
Provides: isc-dhcp-client
Description: Vyattanized DHCP client
 This is the client from version 3 of the Internet Software
 Consortium's implementation of DHCP. For more information visit
 http://www.isc.org.
 .
 Dynamic Host Configuration Protocol (DHCP) is a protocol like BOOTP
 (actually dhcpd includes much of the functionality of bootpd). It
 gives client machines "leases" for IP addresses and can
 automatically set their network configuration. If your machine
 depends on DHCP (especially likely if it's a workstation on a large
 network, or a laptop, or attached to a cable modem), keep this or
 another DHCP client installed.
 .
 Extra documentation can be found in the package dhcp3-common.

Package: vyatta-dhcp3-relay
Priority: optional
Architecture: any
Depends: debianutils (>= 2.8.2),
 vyatta-dhcp3-common (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Conflicts: dhcp-relay, dhcp3-relay
Provides: isc-dhcp-relay
Description: Vyattanized DHCP relay daemon
 This is the relay from version 3 of the Internet Software
 Consortium's implementation of DHCP. For more information visit
 http://www.isc.org.
 .
 Installing this package will make the machine a DHCP relay, which
 requires a reachable DHCP or BOOTP server in order to function.
 .
 Extra documentation can be found in the package dhcp3-common.
